.GlobalTitle {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-text-color);
  position: relative;
  width: fit-content;
  margin: auto;
  margin-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 5px;
    border-radius: 30px;
  }
}
